@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.navbar {
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.custom-color {
    background-color: rgb(19,41,149);
}

.box {
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.title.is-3 {
    color: #4a4a4a;
}

.input {
    border-radius: 20px;
}

.icon.is-small.is-left {
    left: 5px;
}

.navbar-item {
    color: white;
}

.profile-image {
    border-radius: 50%;
    object-fit: cover;
    width: 256px;
    height: 256px;
}

.equal-height-columns {
    display: flex;
}

.equal-height-columns > .column {
    min-height: 100%;
}

.title-margin-adjust {
    margin-top: 0;
}
